body {
  text-align: center;
  font-family: 'Raleway', sans-serif;
  color: white;
  background-image: url("/black_hole_other.jpg");
  background-size: cover;
}

#shuttle-body {
  background-image: url("/shuttle_backdrop.jpg");
  background-size: cover;
  font-family: 'Raleway', sans-serif;
  text-align: center;
}

h1 {
  margin: auto;
  background-color: #333;
  width: 350px;
  border-style: solid;
  border-color: white;
  border-width: thin;
}

.black_hole_left {
  margin-top: 190px;
  float: left;
  width: 350px;
}

.black_hole_right {
  margin-top: 190px;
  float: right;
  width: 350px;
}

.black_hole_bottom {
  position: fixed;
   bottom: 0;
}
